/*
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
}


.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
 } 

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
}



.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 200;
}

body {
    background-color: rgba(35, 31, 251, 0.868)
}


h1 {
    text-align: center;
    color: hsl(0, 0%, 0%);
    line-height: 1;
    font-family: "catcheye-webfont", "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 100px;
    padding: 100px;
  }


h1 {
  font-weight: 500;
  color:rgb(32, 160, 251);
  text-decoration: inherit;
} 

h1:hover {
  color: rgb(86, 64, 251);
} 

*/

/* Portfolio cards Start */




#portfolioCards h2 {
    font-size: 32px;
    margin: auto;
    color: color grey;
    text-align: center;
    padding: 0px 50px 50px 50px;
  }

#portfolioCards {
    padding: 50px 50px 50px 50px;
}

/* Portfolio cards End */

/* Footer Styles */

  #navBar2 {
    display: flex;
    flex-direction: row;
    margin: 10px 5%;
  }
  
  #navigation2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  #navigation2 a {
    cursor: pointer;
    text-decoration: none;
  
  }

  footer {
    position: flex;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
  }
  .cardContainer {
    margin-bottom: 15px;
  }
  .card {
    margin: 0 auto;
  }

@font-face {
    font-family: "catcheye-webfont";
    src: url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'),
         url('../fonts/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


  @media (max-width 400px) {
    .showcase {
        margin: 20px;
    }
} 

@media (max-width: 850px) {
    h1 {
        font-size: 40px;
        padding: 5px; 
        margin: 5px;
        
    }
}
