* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --main-bg-color: #FFEF9F;
  --main-card-color: #ffdfe3;
  --main-text-color: #2E2E3A;
  --main-nav-color: #ffd2d9;
  --surface-color: #fff;
  --curve: 40;
}

@font-face {
  font-family: "catcheye-webfont";
  src: url('../fonts/coolvetica_rg-webfont.woff2') format('woff2'),
       url('../fonts/coolvetica_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "catcheye-webfont";
  background-image: url(../images/Clouds-Above.jpeg);
}

.Cloud .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner .clouds img {
  position: fixed;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(8s * var(--i)) linear infinite;
  z-index: -1;
  overflow:hidden;
;
}
@keyframes animate {
  0%
  {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

nav {
  background-color: var(--main-nav-color) !important;
  color: var(--main-text-color) ;
}

button {
	width: 120px;
	height: 37px;
	border: 0px solid #5b3f69;
	background: #34283b;
	transition: 200ms;
  border-radius: calc(var(--curve) * 2.9px);
  color: white;
}

button span {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Berkshire Swash', cursive;
	font-size: 20px;
	color: #f0ecfc;
	transition: 500ms;
}

button::before, button::after {
	content: '';
	position: absolute;
	margin-left: -75px;
	margin-top: -25px;
	width: 140px;
	height: 40px;
}

button::before {
	transition: 200ms;
  z-index: -3;
}

button::after {
	transition: 500ms;
  z-index: -3;
}

button:hover {
	border: 3px solid #ff6ebb;
}


button:focus {
	outline: none;
}

/* Portfolio cards Start */

#optionCards h2 {
  font-size: 32px;
  margin: auto;
  text-align: center;
  padding: 0px 50px 50px 50px;
}

#optionCards {
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.optionCards{
  margin: 0px auto;
  max-width: 1800px;
}

#optionCards .card {
  background-color: var(--main-card-color);
}

.hideSection {
  display: none !important;
  height: 0;
  width: 0;
}

.card-img, .card-img-top {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.card {
  border-radius: 50px;
}

.container-fluid {
  width: 100%;
}

.cardContainer {
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
}

/* Portfolio cards End */

/* Footer Styles */

.footer {
  display: grid;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: var(--main-nav-color);
  margin-top: 50px;
  padding-top: 10px;
}

/* 
.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column h4 {
    color: #fff;
    
}

.footer-row {
    margin-top: 10px;
    background-color: ;
}

*/ 

@media (max-width: 850px) {

}

.navbar{
 width: 100%;
}


  #navBar2 {
    display: flex;
    flex-direction: row;
    margin: 10px 5%;
  }
  
  #navigation2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  #navigation2 a {
    text-decoration: none;
  
  }


h1 {
  font-weight: 500;
  color:var(--main-text-color);
  text-decoration: inherit;
} 

h1:hover {
  color: rgb(86, 64, 251);
} 


@media (max-width: 850px) {
    h1 {
        font-size: 40px;
        padding: 5px; 
        margin: 5px;
        
    }
}

@media (min-width: 769px) and (max-width: 1223px) {
  #optionCards h5 {
      font-size:small;
  }
  #optionCards p {
    font-size:small;
}
}

/* Portfolio cards Start */


/* Portfolio cards End */

/* Footer Styles */

  #navBar2 {
    display: flex;
    flex-direction: row;
    margin: 10px 5%;
  }
  
  #navigation2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  #navigation2 a {
    text-decoration: none;
  
  }

/* player section styling */
.containerMain {
  width: 95%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
}

.rowMain {
  display: grid;
  margin: 10px 20px 20px 20px;
}

.quote {
  margin: 10px 20px 20px 20px;
  border-radius: 15px;
  background: linear-gradient(to right, rgba(255, 210, 217, 0.9), rgba(255, 255, 255, 0.5));
  display: grid;
  padding: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}

.columnBox {
  flex: 1;
  padding: 50px;
  border: 1px solid #ddd;
  text-align: center;
  margin: 30px 30px 30px 30px;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);

}

.columnPlayer {
float: left;
text-align: center;
}

.columnQuote {
float: left;
padding: 120px;
border: 1px solid #ddd;
text-align: center;
margin: 30px 30px 30px 30px;
box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
}


.playlistsSuggestions {
  background: #ffd2d9;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
  align-items: baseline;
  justify-content: center;
  min-height: 450px;
  /* padding: 10px; */
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 10px 15px;
  width: fit-content;
  min-width: 380px;
}
.playlistsSuggestions h2{
  font-size: 18px;
  padding-left: 20px;
  padding-top: 5px;
}

.playlistCard{
  max-width: 400px;
  width: 350px;
  height: 97px; 
  margin-bottom: 6px !important;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.playlistCard .overlayImage{
  border-radius: 5px;
  width: 60px;
  height: 60px;
  /* padding: 15px; */
  position: absolute;
  z-index: 10;
  top: 17px;
  left: 18px;
}



.playlistCard h5{
  font-size: 14px;
    overflow: hidden;
    padding: 4px 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 32px;
}

.playlistCard button {
  background-color: var(--main-nav-color);
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  z-index: 1;
  position: absolute;
  top: 28px;
  left: 80px;
}
.playlistCard button::before, button::after {
  display: block;
  width: 44px !important;
  margin: 0;
}

.playlistCard .fa-play:before {
  content: "\f04b";
  position: absolute;

  font-size: 21px;
  z-index: 1;
  }
.albumFrame{
  height: 130px !important;
  width: 160px !important;
  position: absolute;
  top: -19px;
  margin: 0;
  margin-left: -127px;
}

.nextTracks {
  background: #ffd2d9;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
  align-items: normal;
  justify-content: flex-start;
  min-height: 450px;
  /* padding: 10px; */
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 10px 15px;
  width: 80%;
  height: 572px;
  min-width: 380px;
}
.nextTracks h2{
  font-size: 18px;
  padding-left: 20px;
  padding-top: 5px;
}

.tracksList {
  width: 100%;
  border: 1px solid #dee2e6;
  padding: 5px;
  margin: 5px auto;
  background: white;
  height: 60px;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tracksList ul{
  float: right;
  width: 50px;
  margin-right: 5px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  
}

.tracksList ul button{
  background-color: var(--main-nav-color);
  width: 44px;
  height: 44px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.tracksList ul li button::before, button::after {
  display: block;
  width: 44px !important;
  margin: 0;
}

.tracksList ul li .fa-play:before {
  content: "\f04b";
  position: absolute;
  right: -2px;
  top: 23px;
  font-size: 21px;
  z-index: 1;
  }

.tracksList span{
  max-width: 60% !important;
  /* background: red; */
  /* width: 40% !important; */
  position: absolute;
  left: 60px;
}

.tracksList img {
  width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 0;
    padding: 0;
    top: 5px;
    left: 5px;
}

/* quote styling */
h5{
  margin-top: 1%;
  font-weight: bold;
}

h6{
  font-style: italic;
}


